@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.slick-next
{
    right: -11px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -58px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 8px;
    height: 8px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: black;
    border-radius: 50%;
}
.slick-dots li.slick-active button {
    width: 16px;
    height: 8px;
    background: #5454D4;
    border-radius: 10px;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
/* .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    color: #5454D4;
} */
.slick-slider .slick-prev {
    z-index: 600;
    position: absolute;
    top: auto;
    bottom: -70px;
    left: calc(50% - 95px);
    display: flex;
    width: 20px;
    height: 27px;
    align-items: center;
    justify-content: center;
    background: url('../images/arrow-left.png') center no-repeat;
    background-size: cover;
    filter: drop-shadow(0 1px 2px rgba(42,56,107,.12));
    transform: translateY(-50%);
    content: '<';
}
.slick-slider .slick-prev:hover {
    background: url('../images/arrow-left-click.png') center no-repeat;
}
.slick-slider .slick-next {
    z-index: 600;
    position: absolute;
    top: auto;
    bottom: -70px;
    right: calc(50% - 90px);
    display: flex;
    width: 20px;
    height: 27px;
    align-items: center;
    justify-content: center;
    background: url('../images/arrow-right.png') center no-repeat ;
    background-size: cover;
    filter: drop-shadow(0 1px 2px rgba(42,56,107,.12));
    transform: translateY(-50%);
    content: '>';
}
.slick-slider .slick-next:hover {
    background: url('../images/arrow-right-click.png') center no-repeat;
}

.section4__content.slick-slider .slick-prev {
    background: url('../images/arrow-left1.png') center no-repeat;
}
.section4__content.slick-slider .slick-prev:hover {
    background: url('../images/arrow-left-click1.png') center no-repeat;
}
.section4__content.slick-slider .slick-next {
    background: url('../images/arrow-right1.png') center no-repeat ;
}
.section4__content.slick-slider .slick-next:hover {
    background: url('../images/arrow-right-click1.png') center no-repeat;
}
@media (max-width: 450px) {
    .section4__content.slick-slider .slick-prev {
        background: url('../images/arrow-left-mob.png') center no-repeat rgba(255, 255, 255, 0.2);
        width: 38px;
        height: 38px;
        border-radius: 50%;
        bottom: -90px;
        left: calc(50% - 50px);
    }
    .section4__content.slick-slider .slick-prev:hover {
        background: url('../images/arrow-left-mob.png') center no-repeat #5454D4;
    }
    .section4__content.slick-slider .slick-next {
        background: url('../images/arrow-right-mob.png') center no-repeat rgba(255, 255, 255, 0.2);
        width: 38px;
        height: 38px;
        border-radius: 50%;
        bottom: -90px;
        right: calc(50% - 50px);
    }
    .section4__content.slick-slider .slick-next:hover {
        background: url('../images/arrow-right-mob.png') center no-repeat #5454D4;
    }
}
.slick-next,
.slick-prev {
    top: 80px;
    z-index: 100;
}
.slick-prev {
    left: -11px;
}
@media (max-width: 350px) {
    .slick-prev {
        left: 0px;
    }
    .slick-next {
        right: -11px;
    }
}